.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7C4DFF;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.Profile-logout {
  padding: 1rem;
}

.Connect {
  display: flex;
  flex-direction: column;
}

.Connect > * {
  margin: 0.5rem;
}

.Connect-input, .Connect-submit {
  padding: 1rem;
}
